<link rel="stylesheet" href="/css/user_profile.css">
<h1>Codial Profile Page</h1>

<div>
    <%if(user.id == profile_user.id){%>

        <form action="/users/update/<%= profile_user.id%>" method="post">
            <input type="text" name="name" placeholder="your name" value="<%=profile_user.name%>" required>
            <input type="email" name="email" placeholder="your email" value="<%=profile_user.email%>" required>
            <input type="submit" value="update">
        </form>
        
    <%}else{%>    
        <h3><%= profile_user.name %></h3>
        <h3><%= profile_user.email%></h3>
    <%}%>
</div>